doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    body
        block content
        //- script(src='http://code.jquery.com/jquery-latest.min.js')
        script(src='/javascripts/jquery.js')
        script(src='/javascripts/bootstrap.js')
        script(src='/javascripts/global.js')
        script(src='/javascripts/three.js')
